<footer class="footer">
  <div class="footer-btns">
    <div class="socials">
      <a
        href="https://github.com/emoore29"
        aria-label="GitHub (opens in a new tab)"
        target="_blank"
        >{% include github-icon.html %}</a
      >
      <a
        href="https://www.linkedin.com/in/emoore29/"
        aria-label="LinkedIn (opens in a new tab)"
        target="_blank"
        >{% include linkedin-icon.html %}</a
      >
    </div>
    {% include toggle.html %}
  </div>
  <p class="mobile-info">
    Design inspired by Brittany Chiang's
    <a href="https://brittanychiang.com/" target="_blank">website</a>.
  </p>
</footer>
