.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 50px;
}

.project-card {
  display: flex;
  padding: 10px;
  gap: 1rem;
  width: 100%;
  border-radius: 5px;
}

.project-img {
  max-width: 20%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.project-info {
  padding: 0;
}

.project-link:hover .arrow-icon {
  transform: translate(3px, -3px);
}

.project-tech {
  margin: 0.2rem 0 1rem 0;
  font-style: italic;
  color: var(--grey);
  transition: var(--theme-transition);
  font-size: 14px;
}

.project-archive {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.archived-title {
  font-weight: 500;
}
