:root {
  --max-page-width: 1000px;
}

html {
  font-size: 18px;
}

html[data-theme="light"] {
  --green: #386837;
  --accent: #e7f1e6;
  --purple: #9f4aa5;
  --dark-green: #232c23;
  --grey: #575757;
  --background-color: #f8f8f8;
  --text: #424242;
  --pink: #b93673;
}

@media (prefers-color-scheme: dark) {
  html[data-theme="dark"] {
    --green: #81ae93;
    --accent: #e7f1e6;
    --purple: #cf9ed4;
    --dark-green: #232c23;
    --grey: #f8f8f8;
    --background-color: #1e1e1f;
    --text: #fff;
    --pink: #b93673;
  }
}

#theme-toggle {
  height: 28px;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

* {
  box-sizing: border-box;
  color: var(--text);
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--green);
}

body {
  margin: 0;
  padding: 30px;
  font-family: "Noto Sans", serif;
  background-color: var(--background-color);
}

.container {
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 100vh;
  max-width: var(--max-page-width);
  margin-top: 30px;
}

.note-header {
  margin-bottom: 40px;
}

.note-content > table {
  margin: 20px auto;
}

img {
  max-width: 100%;
}

header {
  padding-bottom: 15px;
  min-width: 350px;
  max-width: 350px;
  width: 350px;
}

p,
ul {
  font-size: 16px;
}

#site-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

#navigation-list {
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  width: 100%;
}

nav {
  width: 100%;
}

.nav-link {
  color: var(--green);
  text-decoration: none;
}

.nav-link:visited {
  color: var(--green);
}

.current-nav-link {
  color: var(--purple) !important;
  text-decoration: underline;
}

a#site-title-link {
  color: var(--text);
  text-decoration: none;
}

a#site-title-link:hover {
  font-style: normal;
}

footer {
  padding: 4rem 0 1rem 0;
  text-align: center;
  margin: auto auto 0 auto;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding-left: 0;
}

.note-link {
  text-decoration: none;
  font-weight: 450;
}

.portfolio-list {
  list-style: none;
  padding-left: 0;
}

.note-date {
  margin: 0;
  font-style: italic;
  color: var(--grey);
  font-size: small;
}

hr {
  border: none;
  border-top: 1px dashed var(--grey);
  color: var(--grey);
  width: 100%;
  opacity: 0.5;
}

#github-icon {
  height: 27px;
  display: flex;
  align-items: center;
}

#linked-in-icon {
  width: 30px;
  height: 27px;
}

.socials {
  display: flex;
  padding-left: 0;
  gap: 5px;
  margin: 5px 0;
}

a:active,
.nav-link:active {
  color: var(--pink);
}
