:root {
  --max-page-width: 1200px;
  --toggle-width: 130;
  --theme-transition: 0s;
}

html {
  font-size: 16px;
}

html[data-theme="light"] {
  --grey: #575757;
  --background-color: #f8f8f8;
  --text: #000000bd;
  --em-text: #000000e1;
  --pink: #b93673;
}

html[data-theme="dark"] {
  --grey: #f8f8f8;
  --background-color: #1b1b1b;
  --text: #ffffffbd;
  --em-text: #ffffff;
  --pink: #b93673;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text);
  transition: var(--theme-transition);
}

ol {
  color: var(--text);
}

.note-content {
  max-width: 738px;
  color: var(--text);
}

.note-content > table {
  margin: 20px auto;
}

.note-content > p {
  margin: 2rem 0;
  line-height: 1.7;
}

.note-content > ul,
ol {
  margin: 2rem 0;
}

p,
ul {
  margin: 0;
  font-size: 16px;
  color: var(--text);
  transition: var(--theme-transition);
}

a {
  color: var(--em-text);
  text-decoration: none;
  font-weight: 600;
  transition: var(--theme-transition);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--em-text);
  transition: var(--theme-transition);
}

body {
  margin: 0;
  font-family: "Noto Sans", serif;
  background-color: var(--background-color);
  transition: var(--theme-transition);
}

header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  padding: 4rem 0 0 0;
  width: 100%;
  background-color: var(--background-color);
  transition: var(--theme-transition);
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
}

a#site-title-link:hover {
  font-style: normal;
}

a#site-title-link {
  color: var(--em-text);
  text-decoration: none;
  transition: var(--theme-transition);
}

.desktop-buttons {
  display: none;
}

.nav-link:active {
  color: var(--pink);
}

.nav-link {
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--text);
  transition: var(--theme-transition);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.nav-link:visited {
  color: var(--text);
  transition: var(--theme-transition);
}

.nav-link:hover {
  color: var(--em-text);
  transition: var(--theme-transition);
  font-weight: 600;
  text-decoration: none;
}

.current-nav-link {
  color: var(--em-text) !important;
  transition: var(--theme-transition);
  font-weight: 600;
}

.line {
  display: none;
}

.nav-link:hover .line,
.nav-link.current-nav-link .line {
  width: 40px;
  background-color: var(--em-text) !important;
  transition: 0.1s;
}

.wrapper {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: var(--max-page-width);
}

.page-content {
  padding: 4.5rem 0;
}

.note-header {
  margin-bottom: 40px;
}

#site-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

#navigation-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  padding: 0;
  width: 100%;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  padding-left: 0;
}

.note-link {
  text-decoration: none;
  font-weight: 450;
}

.note-date {
  margin-top: 5px;
  font-style: italic;
  color: var(--grey);
  transition: var(--theme-transition);

  font-size: small;
}

.project {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 2.5rem;
}

.project-link:hover .arrow-icon {
  transform: translate(3px, -3px);
}

.arrow-icon {
  display: inline-block;
  height: 17px;
  transition: transform 0.1s ease;
  position: relative;
  top: 3px;
}

.project-img {
  max-width: 150px;
  object-fit: contain;
  object-position: top;
}

.project-tech {
  margin: 0.2rem 0 1rem 0;
  font-style: italic;
  color: var(--grey);
  transition: var(--theme-transition);

  font-size: 14px;
}

.project-archive {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.archived-title {
  font-weight: 500;
}

.social-icon {
  height: 24px;
  display: flex;
  align-items: center;
  color: var(--text);
  transition: var(--theme-transition);
}

.social-icon:hover {
  color: var(--em-text);
  transition: var(--theme-transition);
}

.socials {
  display: flex;
  padding-left: 0;
  gap: 0.5rem;
  margin: 5px 0;
}

.footer {
  margin-top: auto;
  padding: 0 0 4rem 0;
}

.footer-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

/* Wraps entire toggle component, including label */
.toggle-wrapper {
  width: 40px;
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Visually hides label text */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Wraps inner elements of toggle component, excluding label */
.toggle {
  height: 24px;
  width: 40px;
  background: var(--text);
  transition: var(--theme-transition);
  border: 2px solid #00000000;
  border-radius: 40px;
  padding: 3px;
  position: relative;
  margin: auto;
}

/* Circular 'switch' that 'slides' between modes */
.toggle::before {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: var(--background-color);
  position: absolute;
  transition: var(--theme-transition);
  z-index: 2;
  transform: translate(0);
  transition: transform 0.2s ease;
}

/* Slide transformation for dark mode */
.toggle.dark::before {
  transform: translateX(16px);
}

/* Hide checkbox */
.toggle-input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

/* Outlines wrapper if checkbox is focused with keyboard */
html.keyboard-navigation .toggle:focus-within {
  outline: 2px solid #0060df;
  outline-offset: 2px;
  border-radius: 40px;
}

/* Spaces icons evenly inside toggle */
.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.theme-icon {
  height: 14px;
  display: flex;
  align-items: center;
  color: var(--background-color);
  transition: var(--theme-transition);
}

.desktop-info,
.mobile-info {
  font-size: 12px;
}

.desktop-info {
  display: none;
}

.mobile-info {
  display: block;
}

@media (min-width: 1000px) {
  .wrapper {
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-height: 100vh;
    max-width: var(--max-page-width);
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    padding: 4rem 2rem 4rem 0;
    min-width: 350px;
    max-width: 350px;
    width: 350px;
    position: sticky;
    top: 0;
    max-height: 100vh;
    background-color: var(--background-color);
  }

  .page-content {
    padding: 4.5rem 0 4.5rem 2rem;
  }

  .line {
    display: block;
    width: 20px;
    height: 1px;
    background-color: var(--text);
    transition: width 0.1s ease;
    margin: 0 5px 0 0;
  }

  #navigation-list {
    flex-direction: column;
    gap: 0.5rem;
  }

  #site-title {
    margin-bottom: 40px;
  }

  .desktop-buttons {
    display: flex;
    justify-content: space-between;
    color: var(--text);
    margin-bottom: 0.5rem;
  }

  .footer {
    display: none;
  }

  .desktop-info {
    display: block;
  }

  .mobile-info {
    display: none;
  }
}

.masonry {
  column-count: 2;
  column-gap: 10px;
  margin: 0;
  padding: 10px;
}

.block {
  display: block;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.inline-block {
  display: inline-block;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.inline-block-valign {
  display: inline-block;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  vertical-align: top;
}

#block1 {
  height: 119px;
  background-color: #d17b32;
}

#block2 {
  height: 163px;
  background-color: #2c856f;
}

#block3 {
  height: 156px;
  background-color: #4286df;
}

#block4 {
  height: 112px;
  background-color: #838ac5;
}
