:root {
  --max-page-width: 1000px;
}

html {
  font-size: 18px;
}

html[data-theme="light"] {
  --green: #386837;
  --accent: #e7f1e6;
  --purple: #9f4aa5;
  --dark-green: #232c23;
  --grey: #575757;
  --background-color: #f8f8f8;
  --text: #424242;
  --em-text: #303030;
  --pink: #b93673;
}

@media (prefers-color-scheme: dark) {
  html[data-theme="dark"] {
    --green: #81ae93;
    --accent: #e7f1e6;
    --purple: #cf9ed4;
    --dark-green: #232c23;
    --grey: #f8f8f8;
    --background-color: #1e1e1f;
    --text: #dddddd;
    --em-text: #ffffff;
    --pink: #b93673;
  }
}

* {
  box-sizing: border-box;
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.note-content > p {
  margin: 1rem 0;
}

p,
ul {
  font-size: 16px;
  margin: 0;
}

a {
  color: var(--em-text);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--em-text);
}

.note-content > table {
  margin: 20px auto;
}

body {
  margin: 0;
  font-family: "Noto Sans", serif;
  background-color: var(--background-color);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  padding: 4rem 2rem 4rem 0;
  min-width: 350px;
  max-width: 350px;
  width: 350px;
  position: sticky;
  top: 0;
  max-height: 100vh;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
}

a#site-title-link:hover {
  font-style: normal;
}

a#site-title-link {
  color: var(--text);
  text-decoration: none;
}

.nav-link:active {
  color: var(--pink);
}

.nav-link {
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--text);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.nav-link:visited {
  color: var(--text);
}

.nav-link:hover {
  color: var(--em-text);
  font-weight: 600;
  text-decoration: none;
}

.current-nav-link {
  color: var(--em-text) !important;
  font-weight: 600;
}

.line {
  display: block;
  width: 20px;
  height: 1px;
  background-color: var(--text);
  transition: width 0.1s ease;
  margin: 0 5px 0 0;
}

.nav-link:hover .line,
.nav-link.current-nav-link .line {
  width: 40px;
  background-color: var(--em-text) !important;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 100vh;
  max-width: var(--max-page-width);
}

.page-content {
  padding: 4.5rem 0;
}

.note-header {
  margin-bottom: 40px;
}

#site-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 40px;
}

#navigation-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  width: 100%;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
}

.note-link {
  text-decoration: none;
  font-weight: 450;
}

.note-date {
  margin-top: 5px;
  font-style: italic;
  color: var(--grey);
  font-size: small;
}

.social-icon {
  height: 24px;
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
  padding-left: 0;
  gap: 5px;
  margin: 5px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#theme-toggle {
  height: 28px;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
}
